<!doctype html>
<html>
<head>
    <title>Add Group</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {padding-top: 80px;}
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Add Group</h1>

        <%if (message.length>0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/addGroup" method="post">
            <div class="form-group">
                <labe>Group name</labe>
                <input type="text" class="form-control" name="group">
            </div>

            <button type="submit" class="btn btn-lg"> Register new group</button>
        </form>
    </div>
</div>
</body>
</html>