<!doctype html>
<html>
<head>
    <title>Add Component</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="import" href="/static/webcomponentsjs/webcomponents-lite.min.js">
    <link rel="import" href="/static/polymer/polymer.html">
    <link rel="import" href="/static/paper-toolbar/paper-toolbar.html">
    <!--<link rel="import" hrer="/mycomp/...">-->
    <style>
        body {padding-top:80px;}
    </style>
</head>
<body>
<paper-toolbar class="toolbar">
    <paper-icon-button icon="arrow-back" onclick=goAdmin()></paper-icon-button>
    <div class="title">Manage group <%=group.name%></div>
</paper-toolbar>
<div class="container">
    <div class="jumbotron text-center">
    </div>
</div>
</body>