<!doctype html>
<html>
<head>
    <title>Add Component</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="import" href="/static/webcomponentsjs/webcomponents-lite.min.js">
    <link rel="import" href="/static/polymer/polymer.html">
    <link rel="import" href="/static/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/static/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/static/iron-icons/iron-icons.html">
    <link rel="import" href="/static/paper-material/paper-material.html">
    <link rel="import" href="/mycomp/mylistbutton.html">
    <!--<link rel="import" hrer="/mycomp/...">-->
    <style>
        paper-toolbar{font-size:2px}
        #list{
            margin: 20px}
    </style>
</head>
<body>
<paper-toolbar class="toolbar">
    <paper-icon-button icon="arrow-back" onclick=goAdmin()></paper-icon-button>
    <div class="title">Manage group <%=group.name%></div>
    <paper-icon-button icon="add"  onclick=addUser()></paper-icon-button>
</paper-toolbar>
<div class="container">
    <div class="text-center">
        <div class="layout horizontal wrap" id="list">
            <my-list-button url="/getUsersInGroup/<%=group._id%>" field1=username table-name="g" buttonurl="remUserFromGroup/<%=group._id%>" icon="remove-circle" ></my-list-button>
        </div>
    </div>
</div>
</body>
<script>
    function goAdmin(){
        window.location.href="/admin";
    }


    function addUser(){
        var url="/addUserToGroup/<%=group._id%>";
        window.location.href = url;
    };

</script>