<!doctype html>
<html>
<head>
    <title>Guest group platform</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>-->
    <!--<link rel="import" href="/static/polymer/polymer.html">-->
    <!--<link rel="import" hrer="/mycomp/...">-->
    <style>

    </style>
</head>
<body>
<div id="guestContainer"></div>
<script src="/static/fetch/fetch.js"></script>

<script src="/corescripts/liquidAPI.js"></script>
<script src="/GroupFramework.js"></script>
<script>

    var div = document.querySelector('#guestContainer');

    var gid=GFramework.getGroupID();
    console.log("group ID")
    console.log(gid);
    Liquid.create({
            username:undefined,
            groupID:gid,
            webrtc: true,
            deploymentServer: [
                'localhost'
            ],
            //stateServer: '127.0.0.1:12304',
//            signalingServer: '127.0.0.1:12305/signaling'
        signalingServer:'localhost:12305/signaling'
        },GFramework.incomingMessages()).then(function() {
        Liquid.createComponent('guest', div, {'liquidui': ""})
    }).then(function(){privilegeHandler.initPrivilegeHandler(GFramework.privileges())})

</script>
</body>