<!doctype html>
<html>
<head>
    <title>Add Component</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>-->
    <!--<link rel="import" href="/static/polymer/polymer.html">-->
    <!--<link rel="import" hrer="/mycomp/...">-->
    <style>

    </style>
</head>
<body>
<div id="guestContainer"></div>
<script src="/static/fetch/fetch.js"></script>

<script src="/corescripts/liquidAPI.js"></script>
<script src="/GroupFramework.js"></script>
<script>

    var div = document.querySelector('#guestContainer');
    //
    //    Liquid.create({
    //        deploymentServer: {
    //            port: 8888,
    //            route: '/liquid',
    //            host: 'http://localhost',
    //        },
    //
    //        stateServer: {
    //            port: 12304,
    //            host: 'http://localhost'
    //        },
    //
    //        signalingServer: {
    //            port: 12305,
    //            host: 'localhost',
    //            path: '/signaling'
    //        }
    //    }, function(){
    //        Liquid.loadComponent('playground', function(){
    //            Liquid.createComponent('playground', div, {liquidUI: true},function(){
    //                console.log('done')
    //            })
    //        })
    //    })


    var gid=GFramework.getGroupID();
    console.log("group ID")
    console.log(gid);
    Liquid.create({
        username:undefined,
        groupID:gid,

        deploymentServers: [{
                host: 'http://localhost',
//            host: 'http://10.62.162.222',
            port: 8888,
        }],
        stateServer: {
//            host: 'http://10.62.162.222',

                host: 'http://localhost',
            port: 12304
        },
        signalingServer: {
//            host: '10.62.162.222',

                host: 'localhost',
            port: 12305,
            path: '/signaling'
        }
    },GFramework.incomingMessages()).then(function() {
        Liquid.createComponent('migrate', div, {'liquidui': "default"})
    }).then(function(){privilegeHandler.initPrivilegeHandler(GFramework.privileges())})


</script>
</body>