<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<script src="//127.0.0.1:3000/socket.io/socket.io.js"></script>-->
    <style>
        body {padding-top:80px;}
    </style>
    <!--<script>-->
        <!--var socket =io();-->
        <!--console.log("called");-->
    <!--</script>-->
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Interact</h1>
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Local Signup</a>
    </div>
</div>
</body>