<!doctype html>
<html>
<head>
    <title>Manage Role</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="import" href="/static/webcomponentsjs/webcomponents-lite.min.js">
    <link rel="import" href="/static/polymer/polymer.html">
    <link rel="import" href="/static/paper-item/paper-item.html">
    <link rel="import" href="/static/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/static/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/static/paper-button/paper-button.html">
    <link rel="import" href="/static/iron-icons/iron-icons.html">
    <!--<link rel="import" href="/mycomp/mylist.html">-->
    <link rel="import" href="/mycomp/mydropdownmenu.html">
    <style>
        .title{padding: 10px}
        paper-toolbar.toolbar {
            --paper-toolbar-background: #334980;
            --paper-toolbar-title: {
                font-style: italic;
                font-weight: bold;
            };
        }
    </style>
</head>
<body>

<paper-toolbar class="toolbar">
    <paper-icon-button icon="arrow-back" onclick=goAdmin()></paper-icon-button>
    <div class="title">Manage user <%=user.username%></div>
    <paper-icon-button icon="add"  onclick=addComp()></paper-icon-button>
</paper-toolbar>

<div class="col-sm-8 col-sm-offset-1">
    <!--<paper-icon-button id="add" icon="add" on-tap="_addComponent"></paper-icon-button>-->
    <h4>Role</h4>
    <my-dropdown-menu user="<%=user._id%>" role="<%=user.role._id%>"></my-dropdown-menu>
</div>

<script>

    function goAdmin(){
        window.location.href="/admin";
    }
</script>


</body>
</html>