<link rel="import" href="/static/polymer/polymer.html"/>
<link rel="import" href="/static/paper-button/paper-button.html"/>
<link rel="import" href="/static/paper-input/paper-input.html"/>
<dom-module id="my-addcomp">
    <style>

    </style>
    <template>
        <form is="iron-form" id="uploadform" enctype="multipart/form-data" method="post" action=/addcomponent>
            <!--<paper-input name="name" label="Component Name"></paper-input>-->
            <input type="file" name="component" />
            <paper-button raised onclick="submitForm()" >Submit</paper-button>
        </form>
    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'my-addcomp',
                attached: function(){
                    this.$.signupForm.addEventListener('iron-form-response',function(e){
                        console.log(e);
                    })
                }
            })
        })();
        function submitForm() {
            document.getElementById('uploadform').submit();
        }
    </script>
</dom-module>