<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/iron-form/iron-form.html">
<link rel="import" href="/static/iron-ajax/iron-ajax.html">
<link rel="import" href="/static/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/static/paper-button/paper-button.html">
<link rel="import" href="/static/paper-material/paper-material.html">
<dom-module id="my-rolecomponent">
    <style>
        #listItem{
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            margin: 3px;
        }
        .horizontal-section{
            min-height: 50px;
        }
        #checkboxes{

            margin-left: 10px;
        }
    </style>
    <template>

        <div class="layout horizontal wrap" id="list">
            <iron-ajax url="/getRoleComponents/{{roleid}}" last-response='{{data}}'  auto  method='GET'></iron-ajax >
            <template is="dom-repeat" items="[[data]]" as="item" id="tempRepeat" >
                <paper-material class="horizontal-section" role="listbox" id="listItem" >
                    {{item.component.name}}
                    <div id="" data-item="{{item}}" >
                        <paper-checkbox checked="{{item.read}}" on-change>read</paper-checkbox>
                        <paper-checkbox checked="{{item.write}}" on-change>write</paper-checkbox>
                        <paper-checkbox checked="{{item.push}}" on-change>push</paper-checkbox>
                        <paper-checkbox checked="{{item.pull}}" on-change>pull</paper-checkbox>
                        <!--{{_tPermissions:function(item)}}-->
                    </div>
                </paper-material>
            </template>
        </div>
    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'my-rolecomponent',
                properties: {
                    read:{
                        type:Boolean,

                    },
                    write:{
                        type:Boolean,

                    },
                    push:{
                        type:Boolean,

                    },
                    pull:{
                        type:Boolean,
                    },
                    acc: {
                        type: String,
                        notify: true,
                        observer: '_acc'
                    },

                    field1: {
                        type: String,
                        notify: true
                    },

                    tableName:{
                        type:String,
                        notify: true
                    },


                },
                listeners:{'change':'permChanged'},


//
                permChanged:function(e){
                    let xml = new XMLHttpRequest();
                    const url=this.roleid;
                    xml.open('POST', this.roleid);
                    xml.setRequestHeader('Content-Type', 'application/json');
                    xml.onreadystatechange = function () {
                        if (xml.readyState == 4 && xml.status == 200) {
                            alert(xml.responseText);
                        }
                    }
                    xml.send(JSON.stringify(e.model.item));

                },






                _getPerms:function(item){
                    //const perm=item.perms;
                    console.log("TPERM");
                    console.log(event);
                    console.log(item);

                    if(perm.charAt(0)==1){
                        console.log("T")
                        this.read=true
                    }
                    if(perm.charAt(1)==1){
                        console.log("T")
                        this.write=true                    }
                    if(perm.charAt(2)==1){
                        console.log("T")
                        this.push=true                    }
                    if(perm.charAt(3)==1) {
                        console.log("T")
                        this.push=true                    }
                    return this

                },

                _findField: function(item) {
                    console.log(item);
                    if(item[this.field1]) {
                        return item[this.field1];
                    }
                    return undefined
                },

                _clicked:function(e){
                    console.log("clicked");
                    console.log(e.model.__data__.item);
//                    var obj = e.model.__data__.item;
//                    var id = obj._id;
//                    var url="/"+this.tableName+"/"+id;
////                    console.log(url);
////                    console.log(document.cookie);
////                    document.cookie={roleid:id}
////                    window.location.href="/addrole";
//                    window.location.href=url;
                },

//                ready: function(e) {
//                    console.log("called");
//                    console.log(this);
//                    console.log(XMLHttpRequest("GET","/getRoleComponents/56decc1f898546cc6dbc8d81"));
//
//                },


            })
        })();
    </script>
</dom-module>
