<link rel="import" href="/bower_components/polymer/polymer.html">

<script>
    LiquidBehavior = {

      properties: {
        __liquidComponentId: {
          type: Object,
          notify: true
        },

        __liquidStorage: {
          type: Object,
          value: {
            globals: {},
            shared: {},
            locals: {},
            session: {}
          },
          notify: true
        },

        __liquidContainer: {
            type: Object,
            value: undefined,
            notify: true
        },

        __liquidType: {
          type: Object,
          value: {},
          notify: true
        },

        //TODO CONVERT
        sharedId: {
          type: String,
          value: undefined,
          notify: true,
          observer: 'sharedIdChanged'
        },
        windowId: {
          type: Number,
          value: undefined,
          notify: true
        },
        state: {
          type: Object,
          value: {},
          notify: true
        },
        yjs: {
          type: Object,
          value: {},
          notify: true
        },
        sharedPermissions: {
          type: Object,
          value: {},
          notify: true
        },
        shared: {
          type: Object,
          value: {},
          notify: true
        },
        sharedList: {
          type: Array,
          value: [],
          notify: true
        },
        globals: {
          type: Object,
          value: {},
          notify: true
        },
        globalsList: {
          type: Array,
          value: [],
          notify: true
        },
        clones: {
          type: Array,
          value: [],
          notify: true
        },
        connected: {
          type: Boolean,
          value: false,
          notify: true,
          observer: 'connectedChanged'
        }
      },

      ready: function() {},

      attached: function() {
        this.__liquidContainer = this.parentNode.parentNode

        var self = this
        window.addEventListener('storage', function(e) {
          var key = e.key.split('__')[1]
          self._setVariable(key, window.localStorage.getItem("_liquid__" + key))
        }, false)
      },

      liquidRegisterVariables: function(a, self) {
        for(var i in a) {
          var element = a[i]
          switch(element.scope) {
            case 'global':
              element.permission = {publish: true, subscribe: true}
              self._liquid_registerGlobalVariable(element, self)
              break;
            case 'shared':
              self._liquid_registerSharedVariable(element, self)
              break;
            case 'local':
              element.permission = {publish: false, subscribe: false}
              self._liquid_registerLocalVariable(element, self)
              break;
            case 'session':
              element.permission = {publish: false, subscribe: false}
              self._liquid_registerSessionVariable(element, self)
              break;
            default:
              console.log('Variable scope is not defined correctly')
              break;
          }
        }
      },

      liquidVariableChange: function(v, value, self) {
        if(self.__liquidContainer) {
          var type = undefined 
          if(self.__liquidType[v]) {
            type = self.__liquidType[v]
          }

          switch(type) {
            case 'global':
              self.__liquidContainer.variableChangeHandler(v, value)
              break;;
            case 'shared':
              self.__liquidContainer.variableChangeHandler(v, value)
              break;
            case 'local':
              self._setLocalVariable(v,value)
              break;
            case 'session':
              self._setSessionVariable(v,value)
              break;
            default:
              console.log('Variable is not registered')
              break;
          }
        }
      },

      _setVariable: function(v, value) {
        this[v] = value
      },


      _setLocalVariable: function(v, value) {
        if(window.localStorage) {
          window.localStorage.setItem("_liquid__" + v, value)

          liquid.localStorageChange(v)
        }
      },

      _setSessionVariable: function(v, value) {
        if(window.sessionStorage) {
          window.sessionStorage.setItem("_liquid__" + v, value)

          liquid.sessionStorageChange(v)
        }
      },

      _localWindowChange: function(v) {
        this._setVariable(v, window.localStorage.getItem("_liquid__" + v))
      },

      _sessionWindowChange: function(v) {
        this._setVariable(v, window.sessionStorage.getItem("_liquid__" + v))
      },
      
      _liquid_registerGlobalVariable: function(v, self) {
        self.__liquidStorage.globals[v.name] = v
        self.__liquidType[v.name] = 'global'
        self.__liquidContainer.registerGlobalVariable(v.name, v.init)
      },

      _liquid_registerSharedVariable: function(v, self) {
        self.__liquidStorage.shared[v.name] = v
        self.__liquidType[v.name] = 'shared'
        self.__liquidContainer.registerSharedVariable(v.name, v.init, v.permissions)
      },

      _liquid_registerLocalVariable: function(v, self) {
        self.__liquidStorage.locals[v.name] = v
        self.__liquidType[v.name] = 'local'

        if(window.localStorage) {
          if(window.localStorage["_liquid__" + v.name] === undefined) {
            self._setLocalVariable("_liquid__" + v.name, v.init)
          } else {
            self._setVariable(v.name, window.localStorage.getItem("_liquid__" + v.name))
          }
        }
      },

      _liquid_registerSessionVariable: function(v, self) {
        self.__liquidStorage.locals[v.name] = v
        self.__liquidType[v.name] = 'session'

        if(window.sessionStorage) {
          if(window.sessionStorage["_liquid__" + v.name] === undefined) {
            self._setLocalVariable("_liquid__" + v.name, v.init)
          } else {
            self._setVariable(v.name, window.sessionStorage.getItem("_liquid__" + v.name))
          }
        }
      },

      //TODO CONVERT
      ready: function () {
        // this.addEventListener('var-change', this.variableChangeHandler);
        // this.addEventListener('var-push', this.variablePushHandler);
      },

      addLiquidComponent: function (component, name, devices, pair) {
        if (this.hasComponent)
          return;
        this.hasComponent = true;
        this.liquidComponent = component;
        this.name = name;
        this.pair = pair;
        this.$.application.appendChild(component);
        this.updateMoveDropdown(devices);

        // component._liquidInit(this)
      },
      postVariable: function (v, value) {
        if (this.state[v] == value) {
          return;
        }
        this.state[v] = value;
        var name = 'liquid_' + v + '_post';
        var f = this.liquidComponent[name];
        if (typeof f == 'function') {
          f.bind(this.liquidComponent)(value);
        }
        this.liquidComponent[v] = value;
      },
      postShared: function (v, value, from) {
        if (this.shared[v] == value) {
          return;
        }
        // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair, from);
        this.sharedChange(v,value, this)
        this.shared[v] = value;
        var name = 'liquid_' + v + '_post';
        var f = this.liquidComponent[name];
        if (typeof f == 'function') {
          f.bind(this.liquidComponent)(value);
        }
        this.liquidComponent[v] = value;
      },
      postClone: function (device, token) {
        this.clones.push({
          device: device,
          token: token
        });
      },
      postClones: function (clones) {
        this.clones = clones;
      },
      postPair: function (pair) {
        this.pair = pair;
      },
      updateMoveDropdown: function (list) {
        for (var i = this.clones.length - 1; i >= 0; i--) {
          var contains = false;
          for (var j = 0; j < list.length; j++) {
            if (this.clones[i].device == list[j].value) {
              contains = true;
            }
          }
          if (!contains) {
            this.clones.splice(i, 1);
          }
        }
        var paired = false;
        for (var i = 0; i < list.length; i++) {
          if (this.pair && list[i].value == this.pair.device) {
            paired = true;
          }
        }
        if (!paired) {
          this.pair = undefined;
        }
        this.$.moveDropdown.items = list;
      },
      moveWindow: function () {
        var selected = this.$.moveDropdown.getSelected();
        if (selected != 0) {
          liquid.moveWindow(this.windowId, selected, this.name);
        }
      },
      cloneWindow: function () {
        var selected = this.$.moveDropdown.getSelected();
        var token = liquid.createUniqueToken();
        if (selected != 0) {
          this.clones.push({
            device: selected,
            token: token
          });
          liquid.cloneWindow(this.sharedId, this.windowId, selected, this.name, token);
        }
      },

      registerGlobalVariable: function (name, init) {
        this.globalsList.push(name)
        this.globals[name] = init

        // this.globalsInit(name, init, this)
      },

      registerSharedVariable: function (name, init, permission) {
        this.sharedList.push(name);
        this.shared[name] = init;
        this.sharedPermissions[name] = permission;
        // var funName = 'liquid_' + name + '_post';
        // var f = this.liquidComponent[funName];
        // if (typeof f == 'function') {
        //   f.bind(this.liquidComponent)(init);
        // }
        this.liquidComponent[name] = init;

      },
      getShared: function () {
        return {
          storage: this.shared,
          clones: this.clones
        };
      },
      getStorage: function () {
        return this.shared;
      },
      getPair: function () {
        return this.pair;
      },
      closeWindow: function () {
        var f = this.liquidComponent['liquid_close'];
        if (typeof f == 'function') {
          f();
        }
        liquid.closeWindow(this.windowId);
        this.liquidComponent.remove();
        this.remove();
      },
      closeCloneWindow: function (device, token) {
        for (var i = this.clones.length - 1; i >= 0; i--) {
          if (this.clones[i].device == device && this.clones[i].token == token) {
            this.clones.splice(i, 1);
          }
        }
      },
      // liquid.unregisterCloneWindow(device)
      closePairWindow: function (device, token) {
        if (device == this.pair.device && token == this.pair.token) {
          this.pair = undefined;
        }
      },
      variableChangeHandler: function (v, value) {
        // var data = e.detail;
        // for (var v in data) {
        if (this.globalsList.indexOf(v) >= 0) {
          if (this.state[v] != value) {
            this.state[v] = value;
            // liquid.variable(v, value);
            this.globalsChange(v, value, this)
            var name = 'liquid_' + v + '_pre';
            var f = this.liquidComponent[name];
            if (typeof f == 'function') {
              f.bind(this.liquidComponent)(value);
            }
          }
        } else {
          if (this.shared[v] != value) {
            this.shared[v] = value;
            // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair);
            this.sharedChange(v, value, this)
          }
        }
        // }
      },
      variablePushHandler: function (e) {
        var data = e.detail;
        for (var v in data) {
          var value = data[v];
          if (this.globalsList.indexOf(v) == -1) {
            this.state[v] = value;
            this.globalsChange(v, value, this)
            // liquid.variable(v, value);
          } else {
            this.shared[v] = value;
            // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair);
            this.sharedChange(v,value, this)
          }
        }
      },

      dragWindow: function(e) {
        this.style.left = e.detail.x + 'px'
        this.style.top = e.detail.y + 'px'
      },

      sharedIdChanged: function(id) {
        if(this.connected) {
          // ToCheck
        } else {
          this.connectWSLiquid()
        }
      },

      connectedChanged: function() {
        // if(this.connected) {
        //   this.$.connectionState.icon = 'communication:call'
        //   this.$.connectionState.style.color = 'green'
        // } else {
        //   this.$.connectionState.icon = 'communication:call-end'
        //   this.$.connectionState.style.color = 'red'
        // }
      },

      connectWSLiquid: function() {
        var options = {
          host: application.wsliquid.host,
          port: application.wsliquid.port
        }
        this.yjs.connector = new Y.Liquid(this.sharedId, options, this)
        this.yjs.y = new Y(this.yjs.connector)

        // this.variables = new Y.Object()

        // console.log(this.variables.val())

        var self = this
        this.yjs.y.observe(function(e){
          for(var i in e) {
            var v = e[0].name
            var value = self.yjs.y.val(e[0].name)

            self.liquidComponent._setVariable(v, value)
          }
        })

      },

      sharedChange: function(v, value, self) {
        self.yjs.y.val(v, value)
      },

      globalsChange: function(v, value, self) {
        if(self.connected){
          self.yjs.connector.globalChange(v, value)
        }
        // console.log()
      },

      forwardGlobalChange: function(v, value) {
        this.state[v] = value
        this.liquidComponent._setVariable(v, value)
      },

      // globalsInit: function(v, value, self) {
      //   // self.yjs.connector.globalInit(v, value)
      //   // console.log(self.yjs.connector)
      // },

      localStorageChange: function(v) {
        this.liquidComponent._localWindowChange(v)
      },

      sessionStorageChange: function(v) {
        this.liquidComponent._sessionWindowChange(v)
      },
    };
</script>