<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="liquid-page">
  <style>
      #application {
        background: white;
        /*border: 1px black solid;*/
      }
      paper-header-panel {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      paper-toolbar {
        background: #444;
        color: white;
      }

      #application {
        min-width:350px;
      }
    </style>
  <template>
  
    <div id="application">
      <core-header-pane flex="">
        <paper-toolbar>
          <paper-icon-button id="connectionState" icon="communication:call-end" on-click="connectWindow" style="color:red;"></paper-icon-button>
          <paper-icon-button icon="open-with" on-track="dragWindow"></paper-icon-button>
          <span>{{name}}</span>
          <span style="width:15px"></span>
          <span>{{pair.username}}</span>
          <span class="flex"> </span>
          <liquid-dropdown id="moveDropdown"></liquid-dropdown>
          <paper-icon-button icon="content-copy" on-click="cloneWindow"></paper-icon-button>
          <paper-icon-button icon="content-cut" on-click="moveWindow"></paper-icon-button>
          <paper-icon-button icon="close" on-click="closeWindow"></paper-icon-button>
        </paper-toolbar>
      </core-header-pane>

      
    </div>
  
  </template>
  <script>
    Polymer({
      is: 'liquid-page',

      properties: {
        sharedId: {
          type: String,
          value: undefined,
          notify: true,
          observer: 'sharedIdChanged'
        },
        windowId: {
          type: Number,
          value: undefined,
          notify: true
        },
        state: {
          type: Object,
          value: {},
          notify: true
        },
        yjs: {
          type: Object,
          value: {},
          notify: true
        },
        sharedPermissions: {
          type: Object,
          value: {},
          notify: true
        },
        shared: {
          type: Object,
          value: {},
          notify: true
        },
        sharedList: {
          type: Array,
          value: [],
          notify: true
        },
        globals: {
          type: Object,
          value: {},
          notify: true
        },
        globalsList: {
          type: Array,
          value: [],
          notify: true
        },
        clones: {
          type: Array,
          value: [],
          notify: true
        },
        connected: {
          type: Boolean,
          value: false,
          notify: true,
          observer: 'connectedChanged'
        }
      },

      ready: function () {
        // this.addEventListener('var-change', this.variableChangeHandler);
        // this.addEventListener('var-push', this.variablePushHandler);
      },

      addLiquidComponent: function (component, name, devices, pair) {
        if (this.hasComponent)
          return;
        this.hasComponent = true;
        this.liquidComponent = component;
        this.name = name;
        this.pair = pair;
        this.$.application.appendChild(component);
        this.updateMoveDropdown(devices);

        // component._liquidInit(this)
      },
      postVariable: function (v, value) {
        if (this.state[v] == value) {
          return;
        }
        this.state[v] = value;
        var name = 'liquid_' + v + '_post';
        var f = this.liquidComponent[name];
        if (typeof f == 'function') {
          f.bind(this.liquidComponent)(value);
        }
        this.liquidComponent[v] = value;
      },
      postShared: function (v, value, from) {
        if (this.shared[v] == value) {
          return;
        }
        // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair, from);
        this.sharedChange(v,value, this)
        this.shared[v] = value;
        var name = 'liquid_' + v + '_post';
        var f = this.liquidComponent[name];
        if (typeof f == 'function') {
          f.bind(this.liquidComponent)(value);
        }
        this.liquidComponent[v] = value;
      },
      postClone: function (device, token) {
        this.clones.push({
          device: device,
          token: token
        });
      },
      postClones: function (clones) {
        this.clones = clones;
      },
      postPair: function (pair) {
        this.pair = pair;
      },
      updateMoveDropdown: function (list) {
        for (var i = this.clones.length - 1; i >= 0; i--) {
          var contains = false;
          for (var j = 0; j < list.length; j++) {
            if (this.clones[i].device == list[j].value) {
              contains = true;
            }
          }
          if (!contains) {
            this.clones.splice(i, 1);
          }
        }
        var paired = false;
        for (var i = 0; i < list.length; i++) {
          if (this.pair && list[i].value == this.pair.device) {
            paired = true;
          }
        }
        if (!paired) {
          this.pair = undefined;
        }
        this.$.moveDropdown.items = list;
      },
      moveWindow: function () {
        var selected = this.$.moveDropdown.getSelected();
        if (selected != 0) {
          liquid.moveWindow(this.windowId, selected, this.name);
        }
      },
      cloneWindow: function () {
        var selected = this.$.moveDropdown.getSelected();
        var token = liquid.createUniqueToken();
        if (selected != 0) {
          this.clones.push({
            device: selected,
            token: token
          });
          liquid.cloneWindow(this.sharedId, this.windowId, selected, this.name, token);
        }
      },

      registerGlobalVariable: function (name, init) {
        this.globalsList.push(name)
        this.globals[name] = init

        // this.globalsInit(name, init, this)
      },

      registerSharedVariable: function (name, init, permission) {
        this.sharedList.push(name);
        this.shared[name] = init;
        this.sharedPermissions[name] = permission;
        // var funName = 'liquid_' + name + '_post';
        // var f = this.liquidComponent[funName];
        // if (typeof f == 'function') {
        //   f.bind(this.liquidComponent)(init);
        // }
        this.liquidComponent[name] = init;

      },
      getShared: function () {
        return {
          storage: this.shared,
          clones: this.clones
        };
      },
      getStorage: function () {
        return this.shared;
      },
      getPair: function () {
        return this.pair;
      },
      closeWindow: function () {
        var f = this.liquidComponent['liquid_close'];
        if (typeof f == 'function') {
          f();
        }
        liquid.closeWindow(this.windowId);
        this.liquidComponent.remove();
        this.remove();
      },
      closeCloneWindow: function (device, token) {
        for (var i = this.clones.length - 1; i >= 0; i--) {
          if (this.clones[i].device == device && this.clones[i].token == token) {
            this.clones.splice(i, 1);
          }
        }
      },
      // liquid.unregisterCloneWindow(device)
      closePairWindow: function (device, token) {
        if (device == this.pair.device && token == this.pair.token) {
          this.pair = undefined;
        }
      },
      variableChangeHandler: function (v, value) {
        // var data = e.detail;
        // for (var v in data) {
        if (this.globalsList.indexOf(v) >= 0) {
          if (this.state[v] != value) {
            this.state[v] = value;
            // liquid.variable(v, value);
            this.globalsChange(v, value, this)
            var name = 'liquid_' + v + '_pre';
            var f = this.liquidComponent[name];
            if (typeof f == 'function') {
              f.bind(this.liquidComponent)(value);
            }
          }
        } else {
          if (this.shared[v] != value) {
            this.shared[v] = value;
            // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair);
            this.sharedChange(v, value, this)
          }
        }
        // }
      },
      variablePushHandler: function (e) {
        var data = e.detail;
        for (var v in data) {
          var value = data[v];
          if (this.globalsList.indexOf(v) == -1) {
            this.state[v] = value;
            this.globalsChange(v, value, this)
            // liquid.variable(v, value);
          } else {
            this.shared[v] = value;
            // liquid.shared(v, value, this.windowId, this.sharedPermissions[v], this.clones, this.pair);
            this.sharedChange(v,value, this)
          }
        }
      },

      dragWindow: function(e) {
        this.style.left = e.detail.x + 'px'
        this.style.top = e.detail.y + 'px'
      },

      sharedIdChanged: function(id) {
        if(this.connected) {
          // ToCheck
        } else {
          this.connectWSLiquid()
        }
      },

      connectedChanged: function() {
        if(this.connected) {
          this.$.connectionState.icon = 'communication:call'
          this.$.connectionState.style.color = 'green'
        } else {
          this.$.connectionState.icon = 'communication:call-end'
          this.$.connectionState.style.color = 'red'
        }
      },

      connectWSLiquid: function() {
        var options = {
          host: application.wsliquid.host,
          port: application.wsliquid.port
        }
        this.yjs.connector = new Y.Liquid(this.sharedId, options, this)
        this.yjs.y = new Y(this.yjs.connector)

        // this.variables = new Y.Object()

        // console.log(this.variables.val())

        var self = this
        this.yjs.y.observe(function(e){
          for(var i in e) {
            var v = e[0].name
            var value = self.yjs.y.val(e[0].name)

            self.liquidComponent._setVariable(v, value)
          }
        })

      },

      sharedChange: function(v, value, self) {
        self.yjs.y.val(v, value)
      },

      globalsChange: function(v, value, self) {
        if(self.connected){
          self.yjs.connector.globalChange(v, value)
        }
        // console.log()
      },

      forwardGlobalChange: function(v, value) {
        this.state[v] = value
        this.liquidComponent._setVariable(v, value)
      },

      // globalsInit: function(v, value, self) {
      //   // self.yjs.connector.globalInit(v, value)
      //   // console.log(self.yjs.connector)
      // },

      localStorageChange: function(v) {
        this.liquidComponent._localWindowChange(v)
      },

      sessionStorageChange: function(v) {
        this.liquidComponent._sessionWindowChange(v)
      },

    });
  </script>
</dom-module>
