<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">


<dom-module id="liquid-ui">
  <style>
      #application {
        background: white;
        /*border: 1px black solid;*/
      }
      paper-header-panel {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      paper-toolbar {
        background: #444;
        color: white;
      }

      #application {
        min-width:350px;
      }
    </style>
  <template>
    <div id="application">
      <core-header-panel flex="">
        <paper-toolbar>
          <paper-spinner id="spinner"></paper-spinner>
          <paper-icon-button id="connectionState" icon="communication:call-end" style="color:red;"></paper-icon-button>
          <!-- <paper-icon-button icon="open-with" ></paper-icon-button> -->
          <paper-icon-button icon="open-with" draggable="true" on-dragstart="onDrag" on-touchend="onTouch"></paper-icon-button>
          <span>{{deviceId}}</span>
          <!-- <span style="width:15px"></span>
          <span>{{pair.username}}</span> -->
          <span class="flex"> </span>

          <paper-dropdown-menu label="Devices">
            <paper-menu class="dropdown-content">
              <template is="dom-repeat" items="{{devicesToArray(devices)}}" as="item">
                <paper-item>{{item.username}}</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>>

          <paper-icon-button icon="content-copy" on-click="cloneWindow"></paper-icon-button>
          <paper-icon-button icon="content-cut" on-click="moveWindow"></paper-icon-button>
          <paper-icon-button icon="close" on-click="closeWindow"></paper-icon-button>
        </paper-toolbar>
      </core-header-panel>    
    </div>
  
  </template>
  <script>
    Polymer({
      is: 'liquid-ui',
      
      properties: {
        deviceId: {
          value: function(){return Liquid.getDeviceId()}
        },

        devices: {
          value: function(){return Liquid.getDevicesList()}
        }
      },

      attached: function() {
        Liquid.addEventListener('loadingChange', this.toggleSpinner.bind(this))
        Liquid.addEventListener('connect', this.connectedDevice.bind(this))
        Liquid.addEventListener('disconnect', this.toggleConnectButtonOff.bind(this))
        Liquid.addEventListener('reconnect', this.toggleConnectButtonOn.bind(this))
        Liquid.addEventListener('pairedDevicesListUpdate', this.updateDeviceList.bind(this))

        if(Liquid.getConnectionState()) {
          this.toggleConnectButtonOn()
        }
      },

      detached: function() {
        Liquid.removeEventListener('loadingChange', this.toogleSpinner)
        Liquid.removeEventListener('connect', this.connectedDevice)
        Liquid.removeEventListener('disconnect', this.toggleConnectButtonOff)
        Liquid.removeEventListener('reconnect', this.toggleConnectButtonOn)
        Liquid.removeEventListener('pairedDevicesListUpdate', this.updateDeviceList.bind(this))
      },

      devicesToArray: function(devices) {
        var a = [{id: undefined, username: 'Devices'}]
        for(var d in  devices) {
          a.push({id: d, username: devices[d]})
        }
        return a
      },

      connectedDevice: function(deviceId, components) {
          // updateComponents(components)
          this.toggleConnectButtonOn()
      },

      toggleSpinner: function(loading) {
        if(loading) {
          this.$.spinner.active = true
        } else {
          this.$.spinner.active = false
        }
      },

      toggleConnectButtonOff: function () {
        this.$.connectionState.icon = 'communication:call-end'
        this.$.connectionState.style.color = 'red'
      },

      toggleConnectButtonOn: function () {
        this.$.connectionState.icon = 'communication:call'
        this.$.connectionState.style.color = 'green'
      },

      updateDeviceList: function(devicesList) {
        this.devices = devicesList
      },

      onDrag: function (e) {
        console.log('pimmi')
        console.log(e)
        // ev.dataTransfer.setData("text", ev.target.id);
      },

      onTouch: function(e) {
        document.querySelector('#we').innerHTML = 'fase 1'
        Liquid.setLastTouch('Cirippio')
      }
    });
  </script>
</dom-module>
